<%- include("partials/header") %>

<div class="container mt-5 pb-5 pt-5">
    <h4 class="mb-4 text-dark pb-1 open-sans-font">Please edit your post and submit the form.</h4>
    <form method="POST" action="/index/show/<%= post._id %>?_method=PUT" enctype="multipart/form-data">
        <div class="row">
            <div class="input-group mb-3 col-md-8">
                <input type="text" class="form-control" name="title" value="<%= post.title %>" maxlength="100" required>
            </div>

            <div class="input-group mb-3 col-md-4">
                <select class="custom-select" id="inputGroupSelect02" name="category" required> 
                    <option <%= post.category === "" ? "selected": "" %>>Category</option>
                    <option value="Natural" <%= post.category === "Natural" ? "selected": "" %>>Natural</option>
                    <option value="Cultural" <%= post.category === "Cultural" ? "selected": "" %>>Cultural (Heritage)</option>
                    <option value="Events" <%= post.category === "Events" ? "selected": "" %>>Events</option>
                    <option value="Man-Made" <%= post.category === "Man-Made" ? "selected": "" %>>Man-Made</option>
                </select>
                <div class="input-group-append">
                    <label class="input-group-text" for="inputGroupSelect02">Options</label>
                </div>
            </div>

            <div class="input-group mb-3 col-md-8">
                <input type="url" class="form-control" name="url" value="<%= post.url %>" required>
            </div>

            <div class="input-group mb-3 col-md-4">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" accept=".jpeg, .jpg, .png, .gif, .tif, .tiff" id="inputGroupFile">
                    <label class="custom-file-label" for="inputGroupFile">Upload new image</label>
                </div>
            </div>
            
   
            <div class="input-group mb-3 col col-12">
                <textarea class="form-control" name="body" rows="6" maxlength="5000" required><%= post.body %></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-dark btn-block mx-auto">Submit</button>
        <a href="/index/show/<%= post._id %>" class="btn btn-secondary btn-block mx-auto">Cancel</a>
    </form>
</div>

<%- include("partials/footer") %>