<%- include("partials/header") %>

<div class="container mt-5">

    <% posts.forEach(function(post){ %>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card-deck">
                <div class="card">
                <a href="/index/<%= post._id %>"><img class="card-img-top" src="<%= post.image %>" alt="<%= post.title %>"></a>
                <div class="card-body">
                    <h5 class="card-title"><%= post.title %></h5>
                    <p class="card-text"><%= post.body.slice(0,100) %> ...</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="/index/<%= post._id %>">Read more...</a></small>
                </div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>

</div>

<%- include("partials/footer") %>