<%- include("partials/header") %>

<div class="container mt-5 pt-5">
    <% messages.forEach(message =>{ %>
        <% if (typeof message === "object" && message.length) { %>
            <p class="fade-out-items text-secondary mb-4 open-sans-font"><%= message %></p>
        <% } %>
    <% }) %>

    <div class="mx-auto col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-5 mt-4 shadow-effect main-background p-4" id="profile-back">
        <h6>Username: <a href="/profile"> <%= user.username %> </a> </h6>
        <h6>Email: <a href="/profile"> <%= user.email %> </a> </h6>
        <h6> Password: <span class="asterisk">**********</span></h6>
        <a class="btn btn-secondary" href="profile/edit">Change Your Password</a>
    </div>
    <% if(user.username === "Admin"){ %>
        <div class="mt-5 mb-4 ml-3 profile-title">
            <div class="open-sans-font btn btn-success disabled mt-3">Admin Panel:</div>
        </div>
        <a target="_blank" href="/profile/verify" class="btn btn-info ml-3">Verify Posts</a>
        <a target="_blank" href="/profile/comments" class="btn btn-info ml-3">Verify Comments</a>
        <a target="_blank" href="/profile/users" class="btn btn-info ml-3">Flag Users</a>
    <% }; %>
    <% if(posts.length > 0){ %>
        <div class="mt-5 mb-4 profile-title">
            <div class="open-sans-font btn btn-success disabled mt-3">Your Posts at a Glance!</div>
        </div>
    <% } %>
    <div class="row">
        
        <% posts.forEach(post =>{ %>

            <div class="col-sm-6 col-lg-4 mb-5 very-small">
                <div class="card-deck">
                    <div class="card">
                        <a href="/index/show/<%= post._id %>"><img class="card-img card-img-top" src="<%= post.image %>" alt="<%= post.title %>"></a>
                        <div class="card-body">
                            <h5 class="card-title"><%= post.title %></h5>
                            <p class="card-text"><%= post.body.slice(0,100) %> ...</p>
                            <a href="/index/show/<%= post._id %>" class= "btn btn-outline-success">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

        <% }); %>

    </div>
</div>


<%- include("partials/footer") %>