<%- include("partials/header") %>

<div class="container pt-5 pb-5 mt-5">
  <% if ( message1.length > 0 ) { %>
    <p class="fadeOutItems text-secondary mb-4"><strong><%= message1 %></strong></p>
  <% } %>
  <% if ( message2.length > 0 ) { %>
    <p class="fadeOutItems text-secondary mb-4"><strong><%= message2 %></strong></p>
  <% } %>

  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 m-auto">
      <div class="mb-5" id="profileBack2">
        <h5>Username: <a href="/profile"> <%= user.username %> </a> </h5>
        <h5>Email: <a href="/profile"> <%= user.email %> </a> </h5>
      </div>
      <h4 class="mb-3 text-dark pb-1">Change Your Password:</h4>

      <form method="POST" action="/profile">
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Enter your new password" minlength="8" required>
          </div>
          <div class="form-group">
              <input type="password" name="password2" class="form-control" placeholder="Confirm your new password" minlength="8" required>
          </div>
          <button type="submit" class="btn btn-dark btn-block">Submit</button>
          <a href="/profile" class="btn btn-secondary btn-block">Cancel</a>
      </form>
      </div>
    </div>
</div>

<%- include("partials/footer") %>